<div class="text-center mb-2">
<form method="post" action="{{ path('app_departement_delete', {'id': departement.id}) }}" onsubmit="return confirm('Êtes-vous sur de vouloir supprimer ce enregistrement?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ departement.id) }}">
    <button class="btn btn-primary">Supprimer</button>


  
                


</form>
 </div>