{% extends 'base.html.twig' %}

{% block titlepage  %} 
                              <p class="mb-0">Modifier un departement</p> 
                              {% endblock  %}


                              {% block breadcrumb  %}
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="javascript:void(0)">Parametre</a></li>
                                        <li class="breadcrumb-item active"><a href="javascript:void(0)">Departement</a></li>
                                    </ol>
                              {% endblock  %}

{% block body %}
  <div class="form-group col-sm-6">
        <div><h2 class="card-title"><strong>Modifier departement</strong></h2></div>
        <div><a href="{{ path('app_departement_index') }} " class="fa fa-arrow-left">Retour</a></div>
    </div>
    <br>
<div class="container-fluid">
    {{ include('departement/_form.html.twig', {'button_label': 'Update'}) }}

    <div class="pull-right">

    {{ include('departement/_delete_form.html.twig') }}
    </div>
    </div>  
{% endblock %}


{% block javascripts %}
    {{ parent() }}
{% endblock %}
